body {
  background-color: #111;
  background: #ddd/* url(../Images/diagonal.png) */;
  font-family: "proxima-nova","Century Gothic","Arial","san-serif";
}
h1, h2, h3, h4, h5, h6 {
  font-family:"tablet-gothic-condensed","alternate-gothic-no-3-d",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
p, ol, ul {
  font-family: "proxima-nova","Century Gothic","Arial","san-serif";
}
.container {
  max-width: none;
  padding: 0px;
}

/* bootstrap style overrides */
.table > thead > tr > th {
  border: none;
}
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: 1px solid transparent;
    border-top: 1px solid #dddddd;
}
.table-condensed thead > tr > th {
  font-size: 1.2em;
}
.table-condensed > tbody > tr > td {
  padding: 0px;
}


/* Agenda Table Style */
.agendaTable   {
  height:100%;
  margin-bottom: 0px;
}


/* Room Headers */
thead {

}
th {
  font-size: 1.5em;
  font-weight:bold;
  color:white;
  text-align: center;
}

.defaultHeaderBackground {background-color:#233645; color:white }

.roomHeader { color: #ffffff; }
.room202.roomHeader { background-color: #005DA4; }
.room204.roomHeader { background-color: #19B244; }
.room205.roomHeader { background-color: #6A6A6A; }
.room301.roomHeader { background-color: #00DEF2; }
.room302.roomHeader { background-color: #652c84; }
.room303.roomHeader { background-color: #cc2129; }
.roomLL2.roomHeader { background-color: #f26625; }
.roomLL5.roomHeader { background-color: #6A6A6A; }


/* Session Cells */
.myPanelTd	   { width:  12%; padding: 0px; }
.sessionColumn { height: 100%; padding: 0px;}


/* Action Session Styles */
.activeCol     { height: 350px;}
.activeRow     { background-color: #fef56b; }



.roomTemp {opacity:10%;}


