.mypanel {
  height: 100%;
  background-color:white;
  padding: 10px 5px;
  border-radius: 0px;
}
.mypanel_inactive {
  background-color:#ccc; /* background: rgba(255,255,255.1) *//* url(../Images/diagonal2.png) */;
}
.makesmaller {
  font-size: 1.5em;
}
.trackTimes {

}
.trackTime {
  margin: 0px;
  padding: 10px 5px;
  font-size: 1.5em;
}
.mypanel_active:hover {
  cursor: pointer;
  opacity:0.9;
  filter:alpha(opacity=90);
}

.innerLeftColumn {
  height: 100%;
  padding-left:5px;
  border-radius:0px;
  box-shadow: 0px 0px 1px #ddd;
}
.innerRightColumn {
  height: 100%;
  margin-left:1%;
  margin-right:2%;
}

.sessionName {
  line-height: 1.1em;
  margin: 0px 0px 5px 0px;
}
.sessionSpeakers {
  margin: 0px;
  padding: 0px;
}
.sessionSpeaker {
  line-height: 1.3em;
  margin-bottom: 3px;
}
.speakerName    {
  display: block;
  font-weight: bold;
  font-size:1.2em;
  color: #19b244;
  margin: 0px;
}
.speakerCompany {
  color: #111;
  display: block;
  font-size: .95em;
  line-height: 1.1em;
  margin: 0px;
}
.speakerTitle {
  color: #888;
  font-weight: 400;
}
.sessionTrack {
  margin-right: 10px;
  color:white;
  padding:3px 6px;
  border-radius:5px;
}
.trackDigital { background-color: #662584; }
.trackDevelop { background-color: #005da4; }
.trackDesign  { background-color: #f26529; }


.statusLabelCancelledTrue,
.statusLabelMovedTrue,
.statusLabelFullFalse,
.statusLabelFullTrue,
.roomFull {
  font-size: 1em;
  display: block;
  text-align: center;
  text-transform: uppercase;
}


.mypanel .sessionSpeaker {
  list-style: none;
}
.modal-dialog {
}
.modal-header {
  height: 100%;
  padding-left:20px;
  border-radius:5px;
  color:white;
}
.modal-header {
  border-radius: 5px 5px 0px 0px;
}
.modal-header h3 {
  font-size: 1.75em;
  letter-spacing: .03em;
  margin: 0px;
  padding-right: 20px;
  line-height: 1.2em;
}
.modal-body h4.sectionHeader {
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 15px 0px 5px 0px;
}

.modal-body ul {
  padding-left: 20px;
}
.modal-body li {
  padding-bottom: 3px;
}

/* Room Specific Colors */
.room202 .innerLeftColumn, .room202 .modal-header { background-color: #005DA4; }
.room204 .innerLeftColumn, .room204 .modal-header { background-color: #19B244; }
.room205 .innerLeftColumn, .room205 .modal-header { background-color: #6A6A6A; }
.room301 .innerLeftColumn, .room301 .modal-header { background-color: #00DEF2; }
.room302 .innerLeftColumn, .room302 .modal-header { background-color: #652c84; }
.room303 .innerLeftColumn, .room303 .modal-header { background-color: #cc2129; }
.roomLL2 .innerLeftColumn, .roomLL2 .modal-header { background-color: #f26625; }
.roomLL5 .innerLeftColumn, .roomLL5 .modal-header { background-color: #6A6A6A; }


/* Action Session Styles */
.activeCol     {
  min-height: 350px;
}
.activeCol .trackTime,
.activeCol .mypanel {
  padding-top: 40px;
  padding-bottom: 30px;
}
.activeCol .mypanel {
  background-color: #fef56b;
}
.activeRow     {
  background-color: #fef56b;
}